* { margin: 0;
    padding: 0;
    box-sizing:border-box;
    text-decoration: none;
}

body {
    font-family: $fontfamily;
}

a {
    color: $font-color;
    text-decoration: none;
    display: block;
}
