.header {
    background-color: white;
    color: $font-color;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    font-size: 18px;
    font-style: normal;
    line-height: normal;
    text-transform: capitalize;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.144);

    .header__logo {
        width: 100px;
        height: 100px;
        margin-left: 40px;
    }

    .header__logo:hover{
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.144);   
    }
    
    .nav__lista {
        list-style: none;
        display: flex;
        flex-direction: row;
        margin-bottom: 0;
        padding-left: 0;

        .nav__item {
            margin-left: 16px;
            margin-right: 20px;
            position: relative;

            .submenu{
                color: #212529;
                font-size: 16px;
                text-decoration: none;
                margin-left: 0px;
                list-style: none;
                position: absolute;
                top: 23px;
                background-color:  rgb(252, 249, 244);
                display: none;
                padding: 5px 10px;
            }        
        }
    }

    .nav__item:hover {
        font-weight: bold;
    }

    .nav__item:hover .submenu{
        display: flex;
        font-weight: normal;
    }
}

.nav__item-oculto {
        display: none;
}

.header__icono {
    font-size: 32px;
    padding-right: 80px;
    color: black;
    text-decoration: none;
    display: none;
}