/* Medias Querys (abajo de todo siempre)*/
/* Tablet */
@media screen and (max-width:1024px) {

    /*Codigo para la vista tablet */
    .header__logo{
        align-self: flex-start;
        width: 90px;
        height: 90px;
        margin-left: 20px;
    }

    .main{
        margin-top: 90px;
        min-height: 400px;
    }

    .titulo{
        padding-top: 120px;
        font-size: 50px;
        font-weight: normal;
        text-shadow:  1px 1px 2px black, 0 0 1em white, 0 0 0.2em white;
    }

    .parrafo{
        display: none;
    }

    .main2{
        margin-top: 90px;
        padding: 20px;
    }
    
    .main_titulo {
        font-size: 26px;
    }

    .main_texto{
        font-size: 18px;
        padding: 15px 10px ;
    }

    .img_prod{
        margin-top: 30px;
        border-radius: 30px;
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.144);
    }

    .tienda_titulo{
        font-size: 22px;
    }

    .tienda_img{
        width: 250px;
        height: 250px;
    }

    .main_titulo2{
        font-size: 18px;
    }
    
    .escribinos{
        padding: 0px 100px;
        font-size: 17x;
    }
    
    .div_contacto{
        flex-direction: column;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    
    .formulario{
        padding: 0px 100px;
    }
    
    .footer{
        padding-top: 30px;
    }

    .footer_titulo{
        padding-left: 50px;
    }

    .footer_texto1{
        padding-left: 50px;
        padding-top: 0px;
    }
    
    .footer_texto2{
        padding: 0px 20px 0px 20px;
        text-align: justify;
    }

    .copy{
        padding-top: 20px;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 300px);
        grid-template-areas: 
        "img1 img2"
        "img3 img4"
        "img5 img6";
        align-content: stretch;
        height: auto;
    }      
}

@media screen and (max-width: 768px) {
    .header__icono {
        display: block;
    }

    .nav {
        display: none;
        color: black;
        background-color: white;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000000;
        width: 80%;
        height: 100vh;
    }
    
    .nav__lista {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 1rem;
        height: 100%;
        height: 100vh;
    }

    .nav:target{
        display: block;
    }

    .nav__item-oculto {
        display: block;
    }

    .nav__item:hover .submenu{
        display: none;
    }

    .footer_titulo{
        padding-left: 20px;
    }
    .footer_texto1{
        padding-left: 20px;
        padding-top: 0px;
    }
    
    .footer_texto2{
        padding: 20px 20px;
    }
}      

/* Movil */
@media screen and (max-width: 600px) {
    /*Codigo para la vista movil */
    .header__logo{
        align-self: flex-start;
        width: 75px;
        height: 75px;
        margin-left: 20px;
    }

    .main{
        margin-top: 50px;
        min-height: 300px;
    }

    .titulo{
        font-size: 36px;

    }

    .main2{
        margin-top: 50px;
        padding: 0px;
        padding-bottom: 20px;
    }

    .main_titulo{
        font-size: 24px;
        padding: 0px 10px;
        margin-top: 30px;
    }

    .main_texto{
        font-size: 14px;
        padding: 20px 10px;
    }

    .main_titulo2{
        padding: 0px;
        font-size: 18px;
    }

    .tienda_img{
        margin: 10px;
        width: 200px;
        height: 200px;
    }

    .footer_titulo{
        padding: 0px 30px;
    }

    .footer_texto1{
        display: none;
    }

    .footer_texto2{
        padding: 10px 30px;
    }

    .mapa{
        width: 80%;
        padding-bottom: 20px;
    }

    .escribinos{
        font-size: 16px;
        padding: 10px 30px;
    }

    .div_contacto{
        padding: 0px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .formulario{
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 10px;
    }

    .form-label {
        font-size: 14px;
    }

    .form-control {
        font-size: 14px;
    }

    .mb-3 {
        margin-bottom: 0px;
    }

    .boton{
        font-size: 14px;
    }
    .red_icono{
        width: 25px;
        height: 25px;
    }

    .copy{
        font-size: 12px;
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 200px);
        grid-template-areas: 
        "img1"
        "img2"
        "img3"
        "img4"
        "img5"
        "img6";
        align-content: center;
        height: auto;
    }

    .margen_queries{
        padding-top: 50px;
    }

    .margen_queries2{
        padding-top: 25px;
    }
}